* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-size: 11px;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.navbar {
    background-color: #0066CC;
    padding: 10px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #555;
}

.navbar h1 {
    color: white;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.filters-section {
    background-color: #f4f4f4;
    margin:0;
    padding-top: 20px;
}

.filters-section h2 {
    font-family: 'Montserrat';
    margin:0;
    margin-bottom: 15px;
    font-size: 18px;
    color: #333;
    text-align: center; /* Centraliza o título */
}

.filters-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribui os campos de filtro */
    gap: 10px;
    padding-inline: 20px;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.search-btn {
    font-family: 'Montserrat';
    display: block;
    padding: 10px 12px;
    background-color: #1a9cb3;
    margin-top: 10px;
    font-size: 13px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    margin-left: auto;
    margin-right: 20px;
}


.filter-input{
    margin-top: 5px;
}

.tickets-section {
    margin: 5px;
    padding: 20px;
    font-size: 15px;
}

@media (max-width: 580px) {
    .tickets-section {
        font-size: 10px;
    }
}

@media (max-width: 450px) {
    .filters-group {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 380px) {
    th, td {
        padding: 2px;
        text-align: center;
    }
}

@media (max-width: 300px) {
    .tickets-section {
        font-size: 8px;
        margin: 2px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

.ticket-btn {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.ticket-btn:hover {
    background-color: #45a049;
}

table td {
    cursor: pointer;
}